<ol class="tree">
  <li class='file' ><a href='/braindump'>Braindump</a></li>
  <li class='file'><label for='computers'>Computers</label><input type='checkbox' id='computers' />
    <ol>
      <li class='file'><label for='distributed_systems'>Distributed Systems</label><input type='checkbox' id='distributed_systems' />
        <ol>
          <li class='file' ><a href='/computers/distributed_systems/logical_clocks'>Logical Clocks</a></li>
        </ol>
      </li>
      <li class='file'><label for='kubernetes'>Kubernetes</label><input type='checkbox' id='kubernetes' />
        <ol>
          <li class='file' ><a href='/computers/kubernetes/Kubernetes'>Kubernetes</a></li>
        </ol>
      </li>
      <li class='file'><label for='presentations'>Presentations</label><input type='checkbox' id='presentations' />
        <ol>
          <li class='file' ><a href='/computers/presentations/servers_containers_dev_envs.pdf'>Servers Containers Dev Envs.pdf</a></li>
        </ol>
      </li>
    </ol>
  </li>
</ol>