* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: "Source Sans Pro", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

body {
  color: #454545;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.content {
	margin-bottom: 4rem;
}

.wrap {
  position: relative;
  width: 100%;
}

.small-wrap {
  width: 70%;
  margin: 0 auto;
  min-width: 300px;
  margin: 70px auto;
}

.container {
  max-width: 90%;
  min-width: 300px;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

/* links */

a, .post-title a {
  color: #337ab7;
  text-decoration: none;
}

a strong {
  color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-bottom: .5rem;
  font-weight: 400; 
  font-size: 1.5rem;
  color: #404040;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
	font-size: 1.4rem;
}

h2 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

h3, h4, h5 {
	font-size: 1rem;
}

h3 {
  margin-top: 1.5rem;

}

h4, h5, h6 {
  margin-top: 1rem;
}

/* Body text */

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}


/* Lists */

ul {
	list-style: circle;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */

hr {
  margin-top: 60px;
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */

blockquote {
	padding: 0rem 1.5rem 0rem 2rem;
	margin: 0 0 20px 0; 
  	color: #454545;
	border-left: none;
	font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Images */

img[width] {
  padding: 20px;
  margin: 20px;
  min-width: 300px;
}

img:not([width]) {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
}

img.full-width {
  width: 100%;
}

/* Tables */

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* Custom */

#page-title {
  text-align: center;
}

.page-toc {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  min-width: 300px;
}

.page-toc:not(:empty) {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.page-toc-h3 {
  font-size: 80% !important;
}

.page-toc-h4 {
  font-size: 75% !important;
}

article {
  word-break: break-word;
}

/* Titles are placed above TOC, so hide the first child of article if h1 */
article > h1:first-child {
  display: none;
}

.hide-on-website {
  display: none;
}