<ul class='sidebar-nav-item'>
  <li><a href='braindump'>Braindump</a></li>
  <li>
    <p>Computers</p>
    <ul class='sidebar-nav-item'>
      <li>
        <p>Distributed Systems</p>
        <ul class='sidebar-nav-item'>
          <li><a href='computers/distributed_systems/logical_clocks'>Logical Clocks</a></li>
        </ul>
      </li>
      <li>
        <p>Kubernetes</p>
        <ul class='sidebar-nav-item'>
          <li><a href='computers/kubernetes/Kubernetes'>Kubernetes</a></li>
        </ul>
      </li>
      <li>
        <p>Presentations</p>
        <ul class='sidebar-nav-item'>
          <li><a href='computers/presentations/servers_containers_dev_envs'>Servers Containers Dev Envs</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>