<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <!-- This if statement decides which sidebar to use -->
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="page-toc"></div>

      <div class="container content" id="main">
        {{ content }}
      </div>
    </div>

    <script type="text/javascript">
      $( document ).ready(function() {
        $("a[href='" + window.location.pathname.replace(/\/$/, "") + "']").parentsUntil('ol.tree').children('input').attr('checked', true);

        $(".content h2,.content h3,.content h4").each(function(i, item){
          var tag = $(item).attr('id');
          $(".toc").append('<p><a class="page-toc-' + item.localName + '" href="#' + tag + '">' + $(item).text() + '</a></p>');
        });
      });
    </script>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>
</html>
